<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for message in messages %}

                {% if message.success %}
                <div class="alert alert-danger fade in alert-dismissible show mr-5 ml-5 mt-2" style="margin-top:18px;">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" style="font-size:20px">×</span>
                  </button>   <strong>Dear {{request.user}} </strong> {{ message }}.
                </div>
                {%endif%}
                <div class="alert alert-success fade in alert-dismissible show mr-5 ml-5 mt-2" style="margin-top:18px;">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" style="font-size:20px">×</span>
                  </button>   <strong>Dear {{request.user}} </strong> {{ message }}.
                </div>
                
                  

    {% endfor %}
    <form method="POST" enctype ="multipart/form-data" action="{% url 'add_transport' %}">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit"> Add Trasnport</button>
    </form>
</body>
</html>